export CLJRS_ROOT_PATH="${PWD}"
PATH_add "${CLJRS_ROOT_PATH}/bin"

# trace, debug, info, warn, error
export CLJRS_LOG_LEVEL="trace"

export CLJRS_STDIN_FIFO_NAME="cljrs-stdin.fifo"
export CLJRS_STDIN_FIFO_PATH="${CLJRS_ROOT_PATH}/${CLJRS_STDIN_FIFO_NAME}"
